[submodule "MPOAuth"]
	path = MPOAuth
	url = git://github.com/chb/MPOAuth.git
[submodule "IndivoMedicationsSampleiOS"]
	path = IndivoMedicationsSampleiOS
	url = https://github.com/mycuratio/IndivoMedicationsExample-ios.git
